<!DOCTYPE html>

<html lang = "en">
<head>
  <meta charset = "UTF-8">
  <meta name = "viewport" content="width=device-width, initial-scale=1.0">
  <title>AVG NGS Translation</title>
  <script>
	  function validateForm() {
			    const file = document.getElementById("file").files[0];
			    const startSeq = document.getElementById("start_seq").value;
			    const stopSeq = document.getElementById("stop_seq").value;
			    const minCount = document.getElementById("min_count").value;

			    if (!file || !startSeq || !stopSeq|| !minCount) {
					      alert("Please fill out all fields.");
					      return false;
			    }

			    if (!file.name.endsWith(".fastq")) {
					      alert("Please upload a FASTQ file.");
					      return false;
			    }

			    return true;
	  }
  </script>
</head>
<body>
	<h1>AvantGen NGS FASTQ Translation Tool</h1>
	<form method = "POST" enctype="multipart/form-data" onsubmit="return validateForm()">
		<label for="file">Upload FASTQ File:</label>
		<input type="file" name="file" id="file" required><br><br>

		<label for="start_seq">Start Sequence:</label>
		<input type="text" name="start_seq" id="start_seq" value="MQLL" required><br><br>

		<label for="stop_seq">Stop Sequence:</label>
	        <input type="text" name="stop_seq" id="stop_seq" value="VTVSS" required><br><br>

		<label for="start_seq">Minimum Count:</label>
		<input type="text" name="min_count" id="min_count" value="1" required><br><br>

		<button type="submit">Process File</button>
	</form>
</body>
</html>

